@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?d8cd48ad6da200d7e825f35c56f22a9b") format("truetype"),
url("./flaticon.woff?d8cd48ad6da200d7e825f35c56f22a9b") format("woff"),
url("./flaticon.woff2?d8cd48ad6da200d7e825f35c56f22a9b") format("woff2"),
url("./flaticon.eot?d8cd48ad6da200d7e825f35c56f22a9b#iefix") format("embedded-opentype"),
url("./flaticon.svg?d8cd48ad6da200d7e825f35c56f22a9b#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-pencil:before {
    content: "\f101";
}
.flaticon-layers:before {
    content: "\f102";
}
.flaticon-black-settings-button:before {
    content: "\f103";
}
.flaticon-portfolio-black-symbol:before {
    content: "\f104";
}
.flaticon-user:before {
    content: "\f105";
}
.flaticon-waxom:before {
    content: "\f106";
}
.flaticon-heart:before {
    content: "\f107";
}
.flaticon-catte:before {
    content: "\f108";
}
.flaticon-chat-comment-oval-speech-bubble-with-text-lines:before {
    content: "\f109";
}
